.editor-page {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    display: grid;
    grid-template-columns: 280px 1.5fr 1fr 2fr 2fr;
    gap: 10px;
    align-items: start;
    grid-template-areas: 'documentation headers variables editor response';

    width: 95%;
  }
}
