#root {
  display: grid;
  grid-template-rows: 100px auto 75px;
  height: 100%;
}

.title-page {
  font-size: 36px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
