.header {
  position: sticky;
  top: 0;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  background-color: #d4dca9;
  border-bottom: 1px solid #bf9d7a;

  transition: all 0.2s ease-in-out;
}

.header_sticky {
  padding: 15px 20px;

  background-color: #a8cff3;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 43px;
}
.header__buttons {
  text-align: end;
}
.header__btn {
  margin-left: 5px;
  padding: 6px;
  border: none;
  color: white;
  background-color: #4285f4;
}

.header__btn:hover {
  color: #ffffff;
}

.menu {
  display: flex;
  gap: 20px;

  width: 389px;

  font-size: 20px;
}

.menu__link {
  &.active {
    font-weight: 700;
    color: #8b6b4c;
  }
}

.sign-out {
  position: absolute;
  right: 30px;
  top: 10px;
}
