.header {
  position: sticky;
  top: 0;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;

  background-color: #d4dca9;
  border-bottom: 1px solid #bf9d7a;

  transition: all 0.2s ease-in-out;
}

.header_sticky {
  padding: 15px 18px;

  background-color: #a8cff3;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 95%;

  @media (max-width: 648px) {
    flex-direction: column;
  }
}

.header__buttons {
  text-align: end;
}

.header__btn {
  margin-left: 5px;
  padding: 6px;

  color: #ffffff;

  border: none;
}

.header__btn:hover {
  color: #ffffff;
}

.menu {
  display: flex;
  gap: 20px;

  font-size: 20px;
}

.menu__link {
  &.active {
    font-weight: 700;
    color: #8b6b4c;
  }

  @media (max-width: 338px) {
    font-size: 18px;
  }
}

.sign-out {
  position: absolute;
  right: 30px;
  top: 10px;
}

.header__btn {
  padding: 10px 20px;

  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;

  background-color: #0abda0;
  border-radius: 8px;
  border: 1px solid transparent;

  cursor: pointer;

  transition: all 0.25s ease-in-out;
}

.header__btn:hover {
  background-color: #6088af;
}
