.wrapper_center {
  width: 100%;
  padding: 40px;
}

.welcome-page {
  height: 100%;
}

.welcome-page__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.welcome-page__content_item {
  width: 32%;
  padding: 20px;

  box-shadow: 5px 5px 10px #d4dca9, -5px -5px 10px #ebf2ea;
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgba(10, 189, 160, 0.15) 0%,
    rgba(36, 197, 219, 0) 100%
  );
  backdrop-filter: blur(31px);
  border: 3px solid #d4dca9;
  border-radius: 30px;
}
