.wrapper_center {
  width: 100%;
  padding: 40px;
}

.welcome-page {
  height: 100%;
}

.welcome-page__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.welcome-page__content_item {
  width: 32%;
  padding: 20px;

  background-color: #ebf2ea;
  box-shadow: 5px 5px 10px #d4dca9, -5px -5px 10px #ebf2ea;
}
