.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;

  font-size: 18px;

  background-color: #80add7;
  border-top: 1px solid #6088af;

  p,
  a {
    display: flex;
    justify-content: center;
    width: 33%;
  }

  a {
    justify-content: right;
  }

  .github-link {
    justify-content: left;
  }
}
