.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;

  font-size: 18px;

  background-color: #80add7;
  border-top: 1px solid #6088af;

  @media (max-width: 840px) {
    justify-content: center;
    row-gap: 10px;
    flex-wrap: wrap;
  }

  p,
  a {
    display: flex;
    justify-content: center;
    width: 546px;

    @media (max-width: 590px) {
      justify-content: center;
      row-gap: 10px;
      flex-wrap: wrap;
    }

    @media (max-width: 545px) {
      width: 100%;
    }
  }

  a {
    justify-content: right;

    @media (max-width: 840px) {
      justify-content: center;
    }
  }

  .github-link {
    justify-content: left;

    @media (max-width: 590px) {
      justify-content: center;
    }
  }
}
